image: golang:latest@sha256:31c1e53dfc1cc2d269deec9c83f58729fa3c53dc9a576f6426109d1e319e9e9a

stages:
  - test
  - release

format:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)

release:
  stage: release
  image:
    name: goreleaser/goreleaser@sha256:db5f5cfd625a27ae624836956ce762b4cea6895c0cb90964553e2b10057eccce
    entrypoint: ['']
  only:
    refs:
      - tags
  variables:
    GIT_DEPTH: "0"
    GITLAB_TOKEN: "${GORELEASER_TOKEN}"
  script:
    - mkdir -p webex-notifier
    - go build -o webex-notifier  ./...
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - goreleaser release --rm-dist
