image: golang:latest@sha256:9edf71320ef8a791c4c33ec79f90496d641f306a91fb112d3d060d5c1cee4e20

stages:
  - test
  - release

format:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)

release:
  stage: release
  image:
    name: goreleaser/goreleaser@sha256:3a5ce6c3f66984c97b67a70bddf66fa26a99e1b6278d29da91bc204c6a574ab1
    entrypoint: ['']
  only:
    refs:
      - tags
  variables:
    GIT_DEPTH: "0"
    GITLAB_TOKEN: "${GORELEASER_TOKEN}"
  script:
    - mkdir -p webex-notifier
    - go build -o webex-notifier  ./...
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - goreleaser release --rm-dist
